@model DAPM_TOURDL.Models.NHANVIEN
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoginAdmin</title>
    <link rel="stylesheet" href="~/CSS/Admin/LoginAdmin.css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @using (Html.BeginForm("LoginAdmin", "Logging", FormMethod.Post))
    {
        <div class="container">
            <div class="card">
                <h2>Đăng Nhập</h2>
                <form>
                    <label for="username">Username</label>
                    @Html.TextBoxFor(m => m.Mail_NV)
                    <label for="password">Password</label>
                    @Html.PasswordFor(m => m.MatKhau)
                    @Html.ValidationMessageFor(m => m.MatKhau)
                    @Html.AntiForgeryToken()
                    <button value="login" type="submit">Login</button>
                </form>
            </div>
        </div>
    }
</body>
</html>