@model DAPM_TOURDL.Models.SPTOUR

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/AdminLayout.cshtml";

}

<h2>Details</h2>

<div>
    <h4>SPTOUR</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenSPTour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSPTour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiaNguoiLon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaNguoiLon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayKhoiHanh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayKhoiHanh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayKetThuc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayKetThuc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiemTapTrung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiemTapTrung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiemDen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiemDen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoNguoi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoNguoi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HinhAnh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HinhAnh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiaTreEm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaTreEm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NHANVIEN.HoTen_NV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NHANVIEN.HoTen_NV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TOUR.TenTour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TOUR.TenTour)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_SPTour }) |
    @Html.ActionLink("Back to List", "Index")
</p>