@model IEnumerable<DAPM_TOURDL.Models.SPTOUR>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";

}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Quản Lý Sản Phẩm Tour</title>
    <link rel="stylesheet" href="~/CSS/Admin/AdminIndex.css" />
</head>
<body>
    <div class="box">
        <h2 style="">QUẢN LÝ SẢN PHẨM TOUR</h2>
        <form asp-action="Index" method="get">
                <input type="text" name="SearchString" placeholder="Nhập từ khóa tìm kiếm" class="searchBox form-control" />
            </form>
            <button class="btnCreate btn btn-dark ">@Html.ActionLink("Thêm mới sản phẩm tour", "Create")</button>
        </div>
        <div class="box mt-3">
            <div style="position:relative">
                <h3 class="text-center">Danh Sách Sản Phẩm Tour</h3>
                <button class="excelbtn btn btn-dark" style="position:absolute; right:20px;top:3px;">
                    @Html.ActionLink("Xuất excel ", "ExportToExcel")
                </button>
            </div>
            <div class="box mt-3" id="listBox">
                <div class="fixTableHead">
                    <table class=" table-bordered table-sm table-striped text-center table-hover">
                        <thead>
                            <tr>
                                <th>
                                    Tên SP Tour
                                </th>
                                <th>
                                    Giá Người Lớn
                                </th>
                                <th>
                                    Giá Trẻ Em
                                </th>
                                <th>
                                    Ngày Khởi Hành
                                </th>
                                <th>
                                    Ngày Kết Thúc
                                </th>
                                <th>
                                    Điểm Tập Trung
                                </th>
                                <th>
                                    Điểm Đến
                                </th>
                                <th>
                                    Còn Trống (Người)
                                </th>
                                <th>
                                    Nhân Viên Phụ Trách
                                </th>
                                <th>
                                    Hành Động
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                             {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TenSPTour)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.GiaNguoiLon)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.GiaTreEm)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NgayKhoiHanh)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NgayKetThuc)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DiemTapTrung)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DiemDen)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SoNguoi)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NHANVIEN.HoTen_NV)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.ID_SPTour }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.ID_SPTour }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.ID_SPTour })
                                    </td>
                                </tr>
                             }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</body>
</html>