@model DAPM_TOURDL.Models.KHACHHANG

@{
    ViewBag.Title = "DangNhap";
    Layout = null;
}
<link rel="stylesheet" href="~/CSS/Client/LoginAndSignUp.css" />
@using (Html.BeginForm())
{
    <body>
        <div class="container" id="container">
            <div class="form-container sign-up-container">
                <form action="#">
                    <div class="infield">
                        @Html.EditorFor(model => model.HoTen_KH, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.HoTen_KH, "", new { @class = "text-danger" })
                        <label></label>
                    </div>
                    <div class="infield">
                            @Html.RadioButtonFor(model => model.GioiTinh_KH, "Nam") Nam
                            @Html.RadioButtonFor(model => model.GioiTinh_KH, "Nữ") Nữ
                    </div>
                <div class="infield">
                    @Html.EditorFor(model => model.Mail_KH, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Mail_KH, "", new { @class = "text-danger" })
                    <label></label>
                </div>
                    <div class="infield">
                        <input type="password" placeholder="Password" />
                        <label></label>
                    </div>
                    <button>Đăng Ký</button>
                </form>
            </div>
            <div class="form-container sign-in-container">
                <form action="#">
                    <h1>Đăng Nhập</h1>
                    <div class="infield">
                        <input type="email" placeholder="Email" name="email" />
                        <label></label>
                    </div>
                    <div class="infield">
                        <input type="password" placeholder="Mật khẩu" />
                        <label></label>
                    </div>
                    <a href="#" class="forgot">Quên mật khẩu?</a>
                    <button>Đăng Nhập</button>
                </form>
            </div>
            <div class="overlay-container" id="overlayCon">
                <div class="overlay">
                    <div class="overlay-panel overlay-left">
                        <h1>Chào Mừng Bạn Trở Lại!</h1>
                        <p>Hãy đăng nhập để có trải nghiệm tốt nhất</p>
                        <button>Đăng Nhập</button>
                    </div>
                    <div class="overlay-panel overlay-right">
                        <h1>Xin Chào Bạn Mới!</h1>
                        <p>Đăng ký tài khoản ngay để cùng vi vu với Việt Travel</p>
                        <button>Đăng Ký</button>
                    </div>
                </div>
                <button id="overlayBtn"></button>
            </div>
        </div>
    </body>
}
