@model PagedList.IPagedList<DAPM_TOURDL.Models.SPTOUR>
@using PagedList.Mvc
@{
    ViewBag.Title = "DanhSachTour";
    Layout = "~/Views/Shared/ClientLayout.cshtml";
}
<link rel="stylesheet" href="~/CSS/Client/DanhMucTour.css" />
@{ 
    var sortedModel = Model.OrderBy(item => item.GiaNguoiLon);
}
<div class="head">
    <div class="content-main">Danh mục tour</div>
    <video autoplay loop muted plays-inline class="hero-image"><source src="~/Images/Client/Video/ocean.mp4" /></video>
</div>

<div class="container my-3">
    <form action="DanhMucTour" method="get">
        <div class="row g-4">
            <div class="col-3 d-flex justify-content-end">
                <select class="form-select form-select-sm" name="name" id="tourNames">
                    <option value="">Tên tour</option>
                    @foreach (var item in Model)
                    {
                        {
                            <option value="@item.TOUR.TenTour">@item.TOUR.TenTour</option>
                        }
                    }
                </select>
            </div>
            <div class="col-3 d-flex justify-content-end">
                <select class="form-select form-select-sm" name="to">
                    <option value="">Giá từ</option>
                    <option value="0">0 VND</option>
                    <option value="2000000">2.000.000 VND</option>
                    <option value="4000000">4.000.000 VND</option>
                    <option value="6000000">6.000.000 VND</option>
                    <option value="8000000">8.000.000 VND</option>
                    <option value="10000000">10.000.000 VND</option>

                </select>
            </div>
            <div class="col-3 d-flex justify-content-end">
                <select class="form-select form-select-sm" name="from">
                    <option value="">Đến giá</option>
                    <option value="0">0 VND</option>
                    <option value="2000000">2.000.000 VND</option>
                    <option value="4000000">4.000.000 VND</option>
                    <option value="6000000">6.000.000 VND</option>
                    <option value="8000000">8.000.000 VND</option>
                    <option value="10000000">10.000.000 VND</option>

                </select>
            </div>
            <div class="col-3 d-flex justify-content-center">
                <input type="submit" value="Search" class="btn btn-primary btn-lg">
            </div>
        </div>
    </form>
</div>
<div class="container" style="width:100%;height:auto;">
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4">
        @foreach (var item in Model)
        {
            <div class="col col-danhmuctour">
                <div class="card" style="margin:20px 40px;border-radius:15px;box-shadow:1px 0px 5px #808080">
                    <img class="card-img-top" src="~/Images/Admin/SPTOUR/@item.HinhAnh" alt="Card image cap">
                    <div class="card-body" style="text-align:left;">
                        <p class="card-text" style="margin-bottom:0px; font-size:15px"> @Html.DisplayFor(modelItem => item.ID_TOUR)_@Html.DisplayFor(modelItem => item.ID_SPTour)</p>
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.TenSPTour)</h5>
                        <p class="card-text text-black">@string.Format("{0:#,#}đ", Convert.ToDecimal(item.GiaNguoiLon))</p>
                        <a href="@Url.Action("ChiTietTour", "Home", new { id = item.ID_SPTour })" class="btn btn-primary">Xem Chi Tiết</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div class="pagination">
    @Html.PagedListPager(Model, page => Url.Action("DanhMucTour", new { page, name = Request.QueryString["name"], from = Request.QueryString["from"], to = Request.QueryString["to"] }))
</div>

