@model DAPM_TOURDL.Models.KHACHHANG

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/ClientLayout.cshtml";
}
<link rel="stylesheet" href="~/CSS/Client/ProfileUser.css" />
<div class="container">
    <div class="row my-4">
        <div class="col-5">
            <div class="profile-content pt-5">
                <img src="https://s3-alpha-sig.figma.com/img/0d91/faf1/d6d4cc45f6addf23cb292eefabfc2b48?Expires=1699228800&Signature=UGxHIjnCLkVJATzRDl3CnDRysyMmL~KPLhdZ19RaRIEhzagmwRGSJHbPyWTjcwe~VjIpO8ExBhl-5WGaJ1YusJc1ulRF-ddzH3SZgJ6UcsfsWeCE8ZYfQJ6faKvRw9ou7hzdhp169jAI48QRgHTHhnwV3fHpLG47zm9ZRkKdK~1-uerMEp5YimQPVg53dlAtmQzkh7xoElizJL3zeci41fN8isN7wD-InxnQZzLoLSSs7qY-WRPWuI60qRxJoi6Pw78rYa92NYi4TcGs8pqhu3tPORNTWqLiX-cSHzAOR~FV4ow~OGU7~azhgwJ~qSP74l~mlvaYvZGCJAEL0dqhWA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
                     alt="Image Profile">
                <p>ID: @Html.DisplayFor(m => m.ID_KH)</p>
                <h4>@Html.DisplayFor(m => m.HoTen_KH)</h4>
                <p class="bottom-paragraph">Điểm: @Html.DisplayFor(m => m.Diem)</p>
            </div>
        </div>
        <div class="col-7">
            <div class="profile-info pt-5">
                <div class="row d-flex justify-content-center gy-5">
                    <div class="col-7 col-md-6">
                        <div class="border-input">
                            <i class="fa-solid fa-id-badge"></i>
                            @Html.DisplayFor(m => m.CCCD)
                        </div>
                    </div>
                    <div class="col-5 col-md-4">
                        <div class="border-input"><i class="fa-solid fa-venus-mars"></i>@Html.DisplayFor(m => m.GioiTinh_KH)</div>
                    </div>
                    <div class="col-6 col-md-5">
                        <div class="border-input">
                            <i class="fa-solid fa-cake-candles"></i>@Html.DisplayFor(m => m.NgaySinh_KH)
                        </div>
                    </div>
                    <div class="col-6 col-md-5">
                        <div class="border-input"><i class="fa-solid fa-mobile"></i>@Html.DisplayFor(m => m.SDT_KH)</div>
                    </div>
                    <div class="col-6 col-md-7">
                        <div class="border-input">
                            <i class="fa-solid fa-lock"></i><div class="mx-2" id="passwordField">
                                @Html.DisplayFor(m => m.MatKhau)
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-3"></div>
                <div class="col-12 col-md-10">
                    <div class="border-input">
                        <i class="fa-solid fa-at"></i>@Html.DisplayFor(m => m.Mail_KH)
                    </div>
                </div>
                <div class="b-button row d-flex justify-content-center pb-5">
                    <div class="col-5 col-md-4">
                        <button>Đổi mật khẩu</button>
                    </div>
                    <div class="col-5 col-md-6">
                        <a href="@Url.Action("EditProfile","Home",new { id = Session["IDUser"] })">Chỉnh sửa thông tin cá nhân</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", () => {
        var passwordField = document.getElementById("passwordField");
        var passwordValue = passwordField.textContent.trim();
        var maskedPassword = "*".repeat(passwordValue.length);
        passwordField.textContent = maskedPassword;
    });
</script>