@model DAPM_TOURDL.Models.KHACHHANG

@{
    ViewBag.Title = "ThongTinCaNhan";
    Layout = "~/Views/Shared/ClientLayout.cshtml";
}
<link rel="stylesheet" href="~/CSS/Client/ThongTinCaNhan.css" />

<body>
    <div class="containers shadow-sm rounded">
        <div class="profile-box">
            <img id="invoice-icon" src="~/Images/Client/Profile/invoice.png" class="invoice-icon" />
            <img id="pen-icon" src="~/Images/Client/Profile/pen.png" class="pen-icon">
            @{
                if (Model.GioiTinh_KH == "Nam")
                {
                    <img src="https://img.icons8.com/bubbles/100/000000/user.png" class="profile-pic" alt="User-Profile-Image">
                }
                else if (Model.GioiTinh_KH == "Nữ")
                {
                    <img src="https://img.icons8.com/bubbles/50/blond-long-hair-business-lady.png" class="profile-pic" alt="User-Profile-Image">
                }
                else
                {
                    <img src="https://img.icons8.com/bubbles/50/gender-neutral-user.png" class="profile-pic" alt="User-Profile-Image">
                }
            }
            <h3>@Model.HoTen_KH</h3>
            <p>@Model.Mail_KH</p>
            <div class="social-media">
                <img src="~/Images/Client/Profile/facebook.png">
                <img src="~/Images/Client/Profile/instagram.png">
                <img src="~/Images/Client/Profile/zalo.png">
            </div>
            <div class="profile-bottom">
                <div class="row row-cols-2 px-3">
                    <p>
                        Ngày sinh: @Model.NgaySinh_KH
                    </p>
                    <p>
                        Giới tính: @Model.GioiTinh_KH
                    </p>
                    <p>
                        Số điện thoại: @Model.SDT_KH
                    </p>
                    <p>
                        CCCD: @Model.CCCD
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">

    var invoiceIcon = document.getElementById('invoice-icon');
    var penIcon = document.getElementById('pen-icon');
    invoiceIcon.addEventListener('click', () => {
        var idUser = '@Model.ID_KH';
        window.location.href = '@Url.Action("LichSuDatTour", "Home")/' + idUser;
    });
    penIcon.addEventListener('click', () => {
        var idUser = '@Model.ID_KH';
        window.location.href = '@Url.Action("ChinhSuaThongTinCaNhan", "Home")/' + idUser;
    })
</script>