@model DAPM_TOURDL.Models.KHACHHANG

@{
    ViewBag.Title = "ThongTinCaNhan";
    Layout = "~/Views/Shared/ClientLayout.cshtml";
}
<link rel="stylesheet" href="~/CSS/Client/ThongTinCaNhan.css" />

<body>
    <div class="btn-back-profile m-4">
        @Html.ActionLink("Quay lại", "HomePage", new { id = Model.ID_KH })
    </div>
    <div class="containers shadow-sm rounded">
        <div class="profile-box">
            <img id="invoice-icon" src="~/Images/Client/Profile/invoice.png" class="invoice-icon" />
            <img id="pen-icon" src="~/Images/Client/Profile/pen.png" class="pen-icon">
            <img src="~/Images/Client/Profile/user-pic.jpg" class="profile-pic">
            <h3>@Html.DisplayFor(model => model.HoTen_KH)</h3>
            <p>@Html.DisplayFor(model => model.Mail_KH)</p>
            <div class="social-media">
                <img src="~/Images/Client/Profile/facebook.png">
                <img src="~/Images/Client/Profile/instagram.png">
                <img src="~/Images/Client/Profile/zalo.png">
            </div>
            <div class="profile-bottom">
                <div class="row row-cols-2 px-3">
                    <p>
                        Ngày sinh: @Html.DisplayFor(m => m.NgaySinh_KH)
                    </p>
                    <p>
                        Giới tính: @Html.DisplayFor(m => m.GioiTinh_KH)
                    </p>
                    <p>
                        Số điện thoại: @Html.DisplayFor(m => m.SDT_KH)
                    </p>
                    <p>
                        CCCD: @Html.DisplayFor(m => m.CCCD)
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", () => {
        var passwordField = document.getElementById("passwordField");
        var passwordValue = passwordField.textContent.trim();
        var maskedPassword = "*".repeat(passwordValue.length);
        passwordField.textContent = maskedPassword;
    });


    var invoiceIcon = document.getElementById('invoice-icon');
    var penIcon = document.getElementById('pen-icon');
    invoiceIcon.addEventListener('click', () => {
        var idUser = '@Session["IDUser"]';
        window.location.href = '@Url.Action("LichSuDatTour", "Home")/' + idUser;
    });
    penIcon.addEventListener('click', () => {
        var idUser = '@Session["IDUser"]';
        window.location.href = '@Url.Action("ChinhSuaThongTinCaNhan", "Home")/' + idUser;
    })
</script>