@model IEnumerable<DAPM_TOURDL.Models.HOADON>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SLTreEm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TongTienTour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayDat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TinhTrang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SLNguoiLon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TienKhuyenMai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TienPhaiTra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KHACHHANG.HoTen_KH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SPTOUR.TenSPTour)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SLTreEm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TongTienTour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayDat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TinhTrang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SLNguoiLon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TienKhuyenMai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TienPhaiTra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KHACHHANG.HoTen_KH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SPTOUR.TenSPTour)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_HoaDon }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_HoaDon }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_HoaDon })
        </td>
    </tr>
}

</table>
